.login-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 20px;
}

.background-image{
    grid-area: 1 / 1 / 2 / 3; 
    opacity: 0.6;
    z-index: -10;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.login-form{
    grid-area: 1 / 2 / 2 / 3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.login-form h1{
    font-size: 4.5em;
    margin: 0px;
    color: #702785;
    align-self: flex-start;
}

.login-form h2{
    margin: 5px 0;
    align-self: flex-start;
}

.login-form button{
    background-color: #91A1BE;
    width: 350px;
    align-self: center;
    margin-top: 10px;
    background: #91A1BE;
    color: rgb(0, 0, 0);
    border: 1px solid #91A1BE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 16px 32px;
    font-size: 20px;
}

.login-form button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background: #7c8aa3;
}

.login-form label{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
}

.login-form input{
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 16px 32px;
    font-size: 20px;
    border: solid 1px rgb(232, 232, 232);
    background-color: rgb(250, 250, 250);
}

.login-form h2{
    font-size: 1.5em;
}
.login-form{
    font-weight: bold;
}

.login-form p{
    align-self: center;
}

.logo-login{
    grid-area: 1 /1 /2 /2;
    border-right: 1px solid rgba(128, 128, 128, 0.445);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo-login img{
    width: 30%;
    padding: 40px;
}