.container-sections{
    grid-area: 2 / 2 / 13 / 13;
    display: flex;

}

.container-projects h2{
    margin:0;
    font-size: 2em;
}

.container-projects{
    /* no cambies este 70% */
    width: 70%;
    padding: 20px;
}

.header-projects{
    display: flex;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    height: 75vh;
    margin: 10px 0;
}

.container-updates{
    /* no cambies este 30% */
    width: 30%; 
}
