.container-sections{
    grid-area: 2 / 2 / 13 / 13;
    display: flex;

}

.container-projects h2{
    margin:0;
    font-size: 2em;
}

.container-projects{
    /* no cambies este 70% */
    width: 70%;
    padding: 35px;
}

/* .header-projects{
    display: flex;
} */

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    height: 75vh;
    margin: 10px 0;
}

.container-updates{
    /* no cambies este 30% */
    width: 30%; 
}

.container-header-updates{
    display: flex;
    justify-content: space-around;
}

.container-header-updates button {
    background: none;
    border: none;
    cursor: pointer;
    margin:0 10px 0 10px;  
}

/* .scrolling-Box {
    overflow-x: auto;
    color: #786565;
    font-size: 1rem;
    height: 8rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
  }
  .scrolling-Box::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  .scrolling-Box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .scrolling-Box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  } */
  