.navBar {
  margin: 0;
  padding: 0;
  grid-area: 1 / 1 / 6 / 2;
}
.navBar ul {
  background-color: #702785;
  position: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  padding-bottom: 150px;
}

.navBar li {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Logo {
  width: 90%;
}

.icon {
  width: 100%;
}
