/* .navBar{
    background-color: #605151;
    margin: 0;
    padding: 0;
    height: 100vh;
} */
.navBar ul {
    background-color: #605151;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    font-size: 16px;
}

.navBar li{
    text-align: center;
    margin: 0;
    padding: 0;

}

.Logo{
    width: 100%;
}

.icon{
    width: 100%;
}