.container-project{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: 35px 35px 30px 0;
    width: 35%; 
    height: 230px;  
    border-radius: 20px;
    border:  1px solid #91A1BE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.308);
    color: #292e36;
    font-weight: bold;
    padding: 10px;
}

.container-project h3{
    margin:32px 0 0 0;
} 
.container-project h4{
    margin:15px 0 0 0;
} 

.container-project p{
    margin:0 0 0 0;
    padding: 8px;
    font-size: 0.6em;
}

.container-img{
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    z-index: 1;
    background-color: white;
    top:-32px;
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.container-imgs {
    height: 80px;
    display: flex;
    padding: 20px;
}
.container-imgs img {
    width: 40px;
    height: 40px;
}
.btn-verMas-card{
    background-color: #ffffff;
    border:  1px solid #91A1BE;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    width: 25%;
    height: 3em;
    margin-top:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.349);
}

.btn-verMas-card link{
    text-decoration: none;
}
