.container-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-img-list{
    display: flex;
    justify-content: center;
    background-color: #c4c4c47c;
    width: 10%;
    height: 80px;
    border-radius: 8px;
}

.container-info-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #c4c4c47c;
    width: 88%;
    height: 80px;
    margin: 0 10px;
    border-radius: 8px;
}

.container-info-list h3, .container-info-list h4{
    margin:5px 10px 0 10px;
}

.container-list button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
}

..container-list button img{
    background-color:#702785;
}