.container-update{
    width: 100%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-bottom: rgba(131, 131, 131, 0.829);
}
.user-updates{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.container-img-profile{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 88px;
    height: 88px;
    margin: 10px 12px;
    border-radius: 50px;
    border: 1px solid rgba(131, 131, 131, 0.829);
}
.container-img-profile img{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 88px;
    height: 88px;
    margin: 10px 12px;
    border-radius: 50px;
}
.container-span{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-weight: bold;
}